
body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


nav{
    padding-left: 80px;
    background:#FAFAFA;
    opacity: 0.9;

    display: flex;
    position: sticky;
    top: 0;
} 

nav h2,h3{
    margin:0;
    color: #000;
}

nav h2{
    height: 55px;
    font-size: 2rem;
    line-height: 70px;
}

nav h3{
    writing-mode: vertical-rl;
}

nav .menu{
    width: 100%;
    line-height: 68px;
    margin-left: 350px;   
}

nav .menu a{
    text-decoration: none;
    color: #000;
    margin-left: 40px;
    line-height: 68px;
}

nav .menu i{
    margin-left: 40px;
}

nav .menu a:hover{
    border-bottom: 3px solid #000;
}

nav .span-search{
    position: relative;
}

nav .span-search::after{
    content: '';
    width: 3px;
    height: 32px;
    background-color:#000;
    
    position:absolute;
    top: -5px;
    left:130%;
   /* transform: rotateY(90);*/
}

.book-detail{
    width: 700px;
    display: flex;
    margin:15px 0 0 200px;
}

.book-detail img{
    width: 200px;
    height: 200px;
}

.book-detail .book-detail-caption a{
    display: block;
    text-decoration: none;
    color:hsl(48, 93%, 50%);
    text-shadow: 1px 1px 2px #000;
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 10px;
}

.book-detail .book-detail-caption{
    margin-left: 7px;
}

.book-detail .book-detail-caption p{
    text-align: justify;
}

.book-detail .book-detail-caption span{
    margin-left: 5px;
}

.book-detail .book-detail-caption h2,.book-detail .book-detail-caption a{
    margin: 0 0 23px 0;
}

.book-detail .book-detail-to-buy a{
    text-decoration: none;
    color: #000;
    background:#EFCB3B;
    padding: 5px 59px;
    border-radius: 2px;
    text-align: right;
}

.book-detail-to-detail{
    display: flex;
}
.book-detail-to-detail .about-detail{
    width: 50%;
}

.book-detail-to-detail .about-detail-share{
    width: 50%;
    font-size: 25px;
    margin:110px 0 0 150px;
}

.book-detail-to-detail .about-detail-share i{
    margin-left: 20px;
}

.book-detail .book-detail-to-buy img{
    margin-bottom: 8px;
}

.book-detail .book-detail-caption i{
    margin-bottom: 15px;
}
.footer{
    display: flex;
    
    background:#EFCB3B;
}

.a-for-footer{
    margin-left: 80px;
    width: 20%;
}

.to-redeem{
    width: 25%;
}

.contact-us{
    width: 22%;
    
}

.contact-us .icons{
    font-size: 35px;
}

.footer a{
    text-decoration: none;
    color: #000;
    margin-bottom: 10px;

    display: block;
}

.to-redeem input[type="text"]{
    width: 200px;
    height: 30px;
}

.to-redeem input[type="text"]:focus{
    outline: none;
}

.to-redeem button{
    padding: 9px;
}

.copyright{
    display: flex;
    justify-content: center;
}